.wrap {
    border: 2px solid black;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;

}

.icon {
    width: 20px;
    height: 20px;
    background-color: #000;
    margin-bottom: 10px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.description {

    margin-bottom: 10px;

}
/*
.first{
    background-color: aqua;
    height: 500px;
    width: 500px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    background-color: blue;
    border: 2px solid white;
    font-size: 36px;
    color: yellow;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(2){
    align-self: flex-start;
}

.item:nth-child(1){
    color: red;
    order: 2;
    position: relative; 
    top: 15px;
}

.item:nth-child(4){
    order: -1;
    position: relative; 
    bottom: 25px;
}

.item:nth-child(3){
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
}

*/
